@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}


@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	font-family: 'Inter', sans-serif;
}


@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 300 800;
	font-style: italic;
}

.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl {
	font-family: 'Inter', sans-serif;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.hide-number-spin::-webkit-outer-spin-button,
.hide-number-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide-number-spin {
  appearance: textfield;
  -moz-appearance: textfield;
}

.leaflet-container {
    z-index: 0 !important;
}
